* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-image: url(https://img.freepik.com/free-photo/top-view-butterflies-with-copy-space_23-2151010793.jpg?t=st=1742969717~exp=1742973317~hmac=8ea09b6621bc119bca87a1911b69fe00f18f7668cc5b520c841053e1cdfad82c&w=996);
    background-repeat: no-repeat;
    background-size: cover;
}
#banner{
    width: 100%;
}

#header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    gap: 15px;

    h2 {
        color: #000;
        font-size: 40px;
        padding:20px;
        border-radius:30px;
        backdrop-filter:blur(20px);
    }
    div{
        display:flex;
        justify-content:center;
        align-items:center;
        gap:40px;

        img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
    }
    }
}


#information {
    width:800px;
    margin:20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding:45px;
    backdrop-filter:blur(20px);
    box-shadow:0px 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 26px;
    font-weight: 600;
    border-radius:30px;
    color: #000;

    a {
        color: #000;
        transition: .3s;

        &:hover {
            color: green;
        }
    }

    ul {
        list-style: none;
    }
}

@media(max-width:552px){
#information{
    width:100%;
    padding:45px 20px;
}
    #header div img{
        width:130px;
        height:130px;
    }
    
}


